<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LocalDevicesDetection.Properties.Settings.kmedimore20_DBConnectionString" connectionString="Data Source=31.147.204.119\PISERVER,1433;Initial Catalog=kmedimore20_DB;Persist Security Info=True;User ID=kmedimore20;Password=?Su/?Di@" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
